<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">
  <display-name>Archetype Created Web Application</display-name>
   <filter>
       <filter-name>I18nFilter</filter-name>
       <filter-class>org.fedorahosted.tennera.webgettext.I18nFilter</filter-class>
       <init-param>
               <param-name>bundle</param-name>
               <param-value>org.example.messages</param-value>
       </init-param>
   </filter>
   <filter-mapping>
       <filter-name>I18nFilter</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>

   <listener>
       <listener-class>org.fedorahosted.tennera.webgettext.I18nServletContextListener</listener-class>
   </listener>
</web-app>
